button.edit {
    position: fixed;
    background-color: white;
    width: 3.5em;
    aspect-ratio: 1;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}



.edit * {
    color: currentColor;
}

.edit-mobile {
    width: 8em;
    height: 3.5em;
    background-color: aqua;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-mobile::after {
    content: "";
    position: relative;
    display: block;
    color: currentColor;
    font-size: 20px;
    font-weight: bold;
}

.salvar {
    background-color: #e0e0e0;
    color: black;
}

.salvar::after {
    content: "Salvar";
}

.cancelar {
    background-color: black;
    color: white;
}

.cancelar::after {
    content: "Cancelar";
}

@media (max-width: 700px) {
    button.edit {
        display: none;
    }
}

.primary {
    border-radius: 6px;
    background-color: white;
    border: 3px solid black;
    box-sizing: border-box;
    font-weight: bold;
    color: black;
    width: 6em;
    padding: 0.5em 0.25em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.primary:hover{
    background-color: var(--main-color);
}

/* .primary::after {
    content: "Acessar.";
    position: relative;
    display: block;
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
}

.primary::before {
    content: "";
    position: absolute;
    display: block;
    width: 102%;
    height: 106%;
    padding: 0.5em 0.25em;
    background-color: black;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1) 0.15s;
}

.primary:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s cubic-bezier(0.83, 0, 0.17, 1);
} */

@media (max-width: 700px) {
    .primary::before {
        display: none;
    }

    .primary:hover {
        background-color: black;
    }
}